
.vs/JogoGourmet/FileContentIndex/426c873c-f3ef-4566-87f8-81ed241f0958.vsidx
*.vsidx
JogoGourmet/Properties/PublishProfiles/FolderProfile.pubxml.user
JogoGourmet/obj/Debug/net8.0-windows/JogoGourmet.GeneratedMSBuildEditorConfig.editorconfig
/JogoGourmet/obj
/JogoGourmet/obj
